<div class='footer'>
	<div class="container">
		
			<div class="col-6 name-section">
				<h2><a </p></a></h2>
			</div>
			<div class="col-6 right-header-section">
			<ul>		
				<!--<li><a href="{{ "/resume.pdf" | prepend: site.baseurl }}"><span class="resume-title">resume</span></a></li>-->

				<li><a href="http://github.com/thetraff"><i class="32 ion-social-github"></i></a></li>
				
				<li><a href="https://www.linkedin.com/in/ben-traff/"><i class="32 ion-social-linkedin"></i></a></li>

				
			</ul>
			</li>
			</ul>
			</div>
		
	</div>
</div>
