<header>
	<div class="container">
		
			<div class="col-sm-6 name-section">
				<h2><a href="{{ site.baseurl }}">{{ site.title }} $~</p></a></h2>
			</div>
			<div class="col-sm-6 right-header-section">
			<ul>
				<li><a href="resume.pdf">Resume</a></li>
				{% for page in site.pages %} {% if page.title %}
				<li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
				{% endif %} {% endfor %}
				<li><a href="{{ "/blog" | prepend: site.baseurl }}">Blog</a></li>
			</ul>
			</li>
			</ul>
			</div>
		
	</div>


</header>



 
