$font-style:'Inconsolata', monospace;
$font-color:#232B2B;
$link-color:#3B444B;


$site-background-color: #F5F5F5;
$post-background-color: #fffaf0;
$experience-background-color: #e8e3e0;
$header: #F5F5F5;

//link hover colors
$link-hover-color: #232B2B;
$link-block-hover-color: #3B444B;
$link-hover-green: #3cba54;
$link-hover-yellow: #f4c20d;
$link-hover-red: #db3236;
$link-hover-blue: #4885ed;

//sizes
$footer-height: 60px;
