---
layout: default
---

    {% for experience in site.data.experiences %}
     <div class="col-md-8 col-sm-8 info-block">

            <img src=../{{ experience.image }}>
            <div class="col-sm-6 info-block">
                <div class="content-title">
                  <h2><a href={{experience.link}}> {{ experience.name }}</a></h2><p> {{ experience.date }}</p>
                </div>
                <div class="content-body">
                  <p> {{ experience.description }}</p>
                </div>
            </div>

    </div>
    {% endfor %}
