---
layout: default
---

    {% for experience in site.data.experiences %}
     <div class="col-lg-8 col-md-8 col-sm-8 info-block">

            <!--<div class="col-sm-6 col-md-6 col-lg-6 image-info-block">-->
                <!--<div class="image-container">
                 <!--<span class="helper"></span>-->
                 <img src=../{{ experience.image }}>
               <!--</div>-->
            <!--</div>-->
            <div class="col-sm-6 info-block">
                <div class="content-title">
                  <h2><a href={{experience.link}}> {{ experience.name }}</a></h2><p> {{ experience.date }}</p>
                </div>
                <div class="content-body">
                  <p> {{ experience.description }}</p>
                </div>
            </div>

    </div>
    {% endfor %}
